<% var path = './'; %>
<% var page = {
    title : "TOP PAGE",
    description : "TOP PAGE DESCRIPTION",
    og_title: "TOP PAGE",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    namespace: "home"
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-index">
                <div id="hero--wrapper">
                    <div id="hero--image">
                        <div id="hero--slider" data-trigger>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" id="slide01"></div>
                                <div class="swiper-slide" id="slide02"></div>
                                <div class="swiper-slide" id="slide03"></div>
                            </div>
                        </div>
                        <div id="hero--catch">
                            <div id="catch01">
                                <h2 class="hero--catch"><div class="hero--catch__en" data-trigger lang="en">Practice makes perfect</div><div class="hero--catch__ja" data-trigger>習うより慣れよ</div></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="sec01">
                    <div class="py-5">
                        <div class="container">
                            <h3 class="mb-3">Right Height</h3>
                            <div class="row js-sticky__wrapper">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <p class="js-scroll-fade" data-trigger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                    </div>
                                    <img src="<%- path %>dist/img/dummy.jpg" alt="">
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <p class="js-scroll-fade" data-trigger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, recusandae labore. Facere praesentium hic nihil aperiam inventore maiores doloremque quo. Expedita culpa iusto in quisquam corporis aspernatur nemo, cupiditate sapiente maiores vitae soluta veritatis magni ea pariatur, a perspiciatis excepturi praesentium! Assumenda ipsa facere distinctio cumque doloribus, repellendus quod asperiores maiores optio iste, praesentium, sit magni libero vel sequi recusandae accusamus in sapiente vero quisquam. Illum voluptate, vel molestiae molestias voluptatum alias temporibus, neque optio debitis quas natus sapiente sunt!</p>
                                    </div>
                                    <img src="<%- path %>dist/img/dummy.jpg" alt="">
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam laboriosam dolorem molestias eum autem libero fugiat, maiores corrupti soluta nihil.</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="sec02">
                <div class="py-5">
                    <div class="container">
                        <h3 class="mb-3">Ligitbox</h3>
                        <div class="row mb-5">
                            <div class="col-lg-4">
                                <div class="mb-3 js-scroll-to-top" data-trigger>
                                    <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img01.jpg"><img data-src="<%- path %>test/dist/img/main/img01.jpg" alt="" class="lazyload" data-trigger></a>
                                </div>
                                <p class="js-scroll-to-top" data-trigger>>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                
                            </div>
                            <div class="col-lg-4">
                                <div class="mb20">
                                    <div class="mb-3 js-scroll-to-top" data-trigger>
                                        <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img02.jpg"><img data-src="<%- path %>test/dist/img/main/img02.jpg" alt="" class="lazyload"></a>
                                    </div>
                                </div>
                                <p class="js-scroll-to-top" data-trigger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, recusandae labore. Facere praesentium hic nihil aperiam inventore maiores doloremque quo. Expedita culpa iusto in quisquam corporis aspernatur nemo, cupiditate sapiente maiores vitae soluta veritatis magni ea pariatur, a perspiciatis excepturi praesentium! Assumenda ipsa facere distinctio cumque doloribus, repellendus quod asperiores maiores optio iste, praesentium, sit magni libero vel sequi recusandae accusamus in sapiente vero quisquam. Illum voluptate, vel molestiae molestias voluptatum alias temporibus, neque optio debitis quas natus sapiente sunt!</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3 js-scroll-to-top" data-trigger>
                                    <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img03.jpg"><img data-src="<%- path %>test/dist/img/main/img03.jpg" alt="" class="lazyload" ></a>
                                </div>
                                <p class="js-scroll-to-top" data-trigger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, recusandae labore. Facere praesentium hic nihil aperiam inventore maiores doloremque quo. Expedita culpa iusto in quisquam corporis aspernatur nemo, cupiditate sapiente maiores vitae soluta veritatis magni ea pariatur, a perspiciatis excepturi praesentium! Assumenda ipsa facere distinctio cumque doloribus, repellendus quod asperiores maiores optio iste, praesentium, sit magni libero vel sequi recusandae accusamus in sapiente vero quisquam. Illum voluptate, vel molestiae molestias voluptatum alias temporibus, neque optio debitis quas natus sapiente sunt!</p>
                            </div>
                        </div>
                        <h3 class="mb-3">Slider</h3>
                        <div class="row" id="section02">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <div class="c-blog__slider js-blog__slider swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img04.jpg"><img src="<%- path %>test/dist/img/main/img04.jpg" alt="" ></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img02.jpg"><img src="<%- path %>test/dist/img/main/img02.jpg" alt=""></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img01.jpg"><img src="<%- path %>test/dist/img/main/img01.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="c-blog__slider__pagination">
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="js-scroll-fade" data-trigger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                <p class="js-scroll-fade" data-trigger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odit similique pariatur quo sed nesciunt quam maiores ut soluta eum amet voluptates, adipisci dolores repudiandae, qui, totam? Neque earum, commodi.</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <div class="c-blog__slider js-blog__slider swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img04.jpg"><img src="<%- path %>test/dist/img/main/img04.jpg" alt="" ></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img02.jpg"><img src="<%- path %>test/dist/img/main/img02.jpg" alt=""></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a data-fslightbox="gallery" href="<%- path %>test/dist/img/main/img01.jpg"><img src="<%- path %>test/dist/img/main/img01.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="c-blog__slider__pagination">
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>
                                    </div>
                                <p class="js-scroll-fade" data-trigger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                <p class="js-scroll-fade" data-trigger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odit similique pariatur quo sed nesciunt quam maiores ut soluta eum amet voluptates, adipisci dolores repudiandae, qui, totam? Neque earum, commodi.</p>
                            </div>
                        </div>	
                    </div>
                </div>
                </section>
                <div class="padding-y-5">
                    <div class="container">
                        <h3 class="mb-3">Tab</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="js-tab__wrapper c-tab__wrapper">
                                    <div role="tablist" class="js-tab__nav c-tab__nav">
                                        <button role="tab" class="js-tab__item c-tab__item" aria-selected="true" aria-controls="tab01" id="tab-nav01">tab01</button>
                                        <button role="tab" class="js-tab__item c-tab__item" aria-selected="false" aria-controls="tab02" id="tab-nav02">tab02</button>
                                        <button role="tab" class="js-tab__item c-tab__item" aria-selected="false" aria-controls="tab03" id="tab-nav03">tab03</button>
                                    </div>
                                    <div class="js-tab__content">
                                        <div role="tabpanel" class="js-tab__pane c-tab__pane" id="tab01" aria-labelledby="tab-nav01">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                        </div>
                                        <div role="tabpanel" class="js-tab__pane c-tab__pane" id="tab02" aria-labelledby="tab-nav02">
                                            <p>tab02</p>
                                        </div>
                                        <div role="tabpanel" class="js-tab__pane c-tab__pane" id="tab03" aria-labelledby="tab-nav03">
                                            <p>tab03</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="js-tab__wrapper c-tab__wrapper">
                                    <div role="tablist" class="js-tab__nav c-tab__nav">
                                        <button role="tab" class="js-tab__item c-tab__item" aria-selected="true" aria-controls="tab04" id="tab-nav04">tab04</button>
                                        <button role="tab" class="js-tab__item c-tab__item" aria-selected="false" aria-controls="tab05" id="tab-nav05">tab05</button>
                                        <button role="tab" class="js-tab__item c-tab__item" aria-selected="false" aria-controls="tab06" id="tab-nav03">tab06</button>
                                    </div>
                                    <div class="js-tab__content c-tab__content">
                                        <div role="tabpanel" class="js-tab__pane c-tab__pane" id="tab04" aria-labelledby="tab-nav04">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                        </div>
                                        <div role="tabpanel" class="js-tab__pane c-tab__pane" id="tab05" aria-labelledby="tab-nav05">
                                            <p>tab05</p>
                                        </div>
                                        <div role="tabpanel" class="js-tab__pane c-tab__pane" id="tab06" aria-labelledby="tab-nav06">
                                            <p>tab06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="py-5">
                    <div class="container">
                        <h3 class="mb-3">Accordion</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="js-accordion__wrapper c-accordion__wrapper">
                                    <div>
                                        <button type="button" class="js-accordion__trigger c-accordion__trigger c-accordion__active" aria-expanded="true" aria-controls="accordion-1">accordion01</button>
                                        <div class="js-accordion__content c-accordion__content c-accordion__active" id="accordion-1" aria-hidden="false">
                                            <div class="js-accordion__inner c-accordion__inner">
                                                Accordion01 content<br>
                                                ....
                                            </div>
                                        </div>
                                        <button type="button" class="js-accordion__trigger c-accordion__trigger" aria-expanded="true" aria-controls="accordion-2">accordion02</button>
                                        <div class="js-accordion__content c-accordion__content" id="accordion-2" aria-hidden="true">
                                            <div class="js-accordion__inner c-accordion__inner">
                                                Accordion02 content<br>
                                                ....
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="js-accordion__wrapper c-accordion__wrapper">
                                    <div>
                                        <button type="button" class="js-accordion__trigger c-accordion__trigger c-accordion__active" aria-expanded="true" aria-controls="accordion-3">accordion03</button>
                                        <div class="js-accordion__content c-accordion__content c-accordion__active" id="accordion-3" aria-hidden="false">
                                            <div class="js-accordion__inner c-accordion__inner">
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi explicabo repellendus aliquid omnis quisquam ut voluptas pariatur doloremque exercitationem delectus nulla ipsam non in impedit, neque tempore dolore tempora distinctio.
                                            </div>
                                        </div>
                                        <button type="button" class="js-accordion__trigger c-accordion__trigger" aria-expanded="true" aria-controls="accordion-4">accordion04</button>
                                        <div class="js-accordion__content c-accordion__content" id="accordion-4" aria-hidden="true">
                                            <div class="js-accordion__inner c-accordion__inner">
                                                Accordion04 content<br>
                                                ....
                                            </div>
                                        </div>
                                        <button type="button" class="js-accordion__trigger c-accordion__trigger" aria-expanded="true" aria-controls="accordion-5">accordion05</button>
                                        <div class="js-accordion__content c-accordion__content" id="accordion-5" aria-hidden="true">
                                            <div class="js-accordion__inner c-accordion__inner">
                                                Accordion05 content<br>
                                                ....
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div><!-- / #p-index -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>