<% var path = '../'; %>
<% var page = {
    title : "COMPANY PAGE",
    description : "COMPANY PAGE DESCRIPTION",
    type: "",
    url: "",
    ogp: "",
    site_name: "",
    tracking_id : ""
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <main id="aa">
                
                <section id="sec01">
                    <div class="content-inner-y">
                        <div class="container">
                            <h3 class="mb20">Right Height</h3>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb20">
                                        <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                    </div>
                                    <img src="<%- path %>dist/img/dummy.jpg" alt="">
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb20">
                                        <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, recusandae labore. Facere praesentium hic nihil aperiam inventore maiores doloremque quo. Expedita culpa iusto in quisquam corporis aspernatur nemo, cupiditate sapiente maiores vitae soluta veritatis magni ea pariatur, a perspiciatis excepturi praesentium! Assumenda ipsa facere distinctio cumque doloribus, repellendus quod asperiores maiores optio iste, praesentium, sit magni libero vel sequi recusandae accusamus in sapiente vero quisquam. Illum voluptate, vel molestiae molestias voluptatum alias temporibus, neque optio debitis quas natus sapiente sunt!</p>
                                    </div>
                                    <img src="<%- path %>dist/img/dummy.jpg" alt="">
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb20">
                                        <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam laboriosam dolorem molestias eum autem libero fugiat, maiores corrupti soluta nihil.</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="sec02">
                <div class="content-inner-b">
                    <div class="container">
                        <h3 class="mb20">Ligitbox</h3>
                        <div class="row lightbox--gallery mb30">
                            <div class="col-lg-4">
                                <div class="mb20 js-scroll-to-top" data-scroll>
                                    <a href="<%- path %>test/dist/img/main/img01.jpg"><img data-src="<%- path %>test/dist/img/main/img01.jpg" alt="" class="lazyload" data-scroll></a>
                                </div>
                                <p class="js-scroll-to-top" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                
                            </div>
                            <div class="col-lg-4">
                                <div class="mb20">
                                    <div class="mb20 js-scroll-to-top" data-scroll>
                                        <a href="<%- path %>test/dist/img/main/img02.jpg"><img data-src="<%- path %>test/dist/img/main/img02.jpg" alt="" class="lazyload"></a>
                                    </div>
                                </div>
                                <p class="js-scroll-to-top" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, recusandae labore. Facere praesentium hic nihil aperiam inventore maiores doloremque quo. Expedita culpa iusto in quisquam corporis aspernatur nemo, cupiditate sapiente maiores vitae soluta veritatis magni ea pariatur, a perspiciatis excepturi praesentium! Assumenda ipsa facere distinctio cumque doloribus, repellendus quod asperiores maiores optio iste, praesentium, sit magni libero vel sequi recusandae accusamus in sapiente vero quisquam. Illum voluptate, vel molestiae molestias voluptatum alias temporibus, neque optio debitis quas natus sapiente sunt!</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb20 js-scroll-to-top" data-scroll>
                                    <a href="<%- path %>test/dist/img/main/img03.jpg"><img data-src="<%- path %>test/dist/img/main/img03.jpg" alt="" class="lazyload" ></a>
                                </div>
                                <p class="js-scroll-to-top" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, recusandae labore. Facere praesentium hic nihil aperiam inventore maiores doloremque quo. Expedita culpa iusto in quisquam corporis aspernatur nemo, cupiditate sapiente maiores vitae soluta veritatis magni ea pariatur, a perspiciatis excepturi praesentium! Assumenda ipsa facere distinctio cumque doloribus, repellendus quod asperiores maiores optio iste, praesentium, sit magni libero vel sequi recusandae accusamus in sapiente vero quisquam. Illum voluptate, vel molestiae molestias voluptatum alias temporibus, neque optio debitis quas natus sapiente sunt!</p>
                            </div>
                        </div>
                        <h3 class="mb20">Slider</h3>
                        <div class="row" id="section02">
                            <div class="col-lg-6">
                                <div class="mb20">
                                    <div class="blog-slider swiper-container lightbox--gallery">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="<%- path %>test/dist/img/main/img04.jpg"><img src="<%- path %>test/dist/img/main/img04.jpg" alt="" class="js-scroll-fade" data-scroll></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="<%- path %>test/dist/img/main/img02.jpg"><img src="<%- path %>test/dist/img/main/img02.jpg" alt="" class="js-scroll-fade" data-scrolldata-scroll></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="<%- path %>test/dist/img/main/img01.jpg"><img src="<%- path %>test/dist/img/main/img01.jpg" alt="" class="js-scroll-fade" data-scrolldata-scroll></a>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                                <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odit similique pariatur quo sed nesciunt quam maiores ut soluta eum amet voluptates, adipisci dolores repudiandae, qui, totam? Neque earum, commodi.</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb20">
                                    <img data-src="<%- path %>test/dist/img/main/img04.jpg" alt="" class="lazyload">
                                </div>
                                <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odit similique pariatur quo sed nesciunt quam maiores ut soluta eum amet voluptates, adipisci dolores repudiandae, qui, totam? Neque earum, commodi.</p>
                            </div>
                        </div>	
                    </div>
                </div>
                </section>
                <div class="content-inner-b">
                    <div class="container">
                        <h3 class="mb20">Tab</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="js-tab__wrapper">
                                    <div class="js-tab__nav">
                                        <ul>
                                            <li><a href="#tab01" data-scroll-ignore="1">tab01</a></li>
                                            <li><a href="#tab02" data-scroll-ignore="1">tab02</a></li>
                                            <li><a href="#tab03" data-scroll-ignore="1">tab03</a></li>
                                        </ul>
                                    </div>
                                    <div class="js-tab__content">
                                        <div class="js-tab__pane" id="tab01">
                                            <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                        </div>
                                        <div class="js-tab__pane" id="tab02">
                                            <p class="js-scroll-fade" data-scroll>tab02</p>
                                        </div>
                                        <div class="js-tab__pane" id="tab03">
                                            <p class="js-scroll-fade" data-scroll>tab03</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="js-tab__wrapper">
                                    <div class="js-tab__nav">
                                        <ul>
                                            <li><a href="#tab04" data-scroll-ignore="1">tab01</a></li>
                                            <li><a href="#tab05" data-scroll-ignore="1">tab02</a></li>
                                            <li><a href="#tab06" data-scroll-ignore="1">tab03</a></li>
                                        </ul>
                                    </div>
                                    <div class="js-tab__content">
                                        <div class="js-tab__pane" id="tab04">
                                            <p class="js-scroll-fade" data-scroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta at praesentium, quod alias dolore aut libero possimus expedita totam fugiat pariatur dolor iure assumenda nisi, mollitia ullam eum ratione quaerat id, omnis voluptates illo natus! Voluptatem, ullam aperiam neque maxime eius nam dolorem reiciendis veritatis, eum, architecto, temporibus magni. Cumque assumenda, neque repellat consequatur, hic ullam eligendi, quas sunt aut voluptatum esse modi officiis maiores magnam. Doloribus sed unde odit, debitis soluta necessitatibus optio nesciunt obcaecati in alias voluptatibus pariatur tempore esse provident, nostrum nam animi perferendis dolore, quam hic rerum. Harum, et! Eveniet minus incidunt consequatur quasi, omnis ad.</p>
                                        </div>
                                        <div class="js-tab__pane" id="tab05">
                                            <p class="js-scroll-fade" data-scroll>tab02</p>
                                        </div>
                                        <div class="js-tab__pane" id="tab06">
                                            <p class="js-scroll-fade" data-scroll>tab03</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="content-inner-b">
                    <div class="container">
                        <h3 class="mb-3">Accordion</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="js-accordion__wrapper">
                                    <div>
                                        <button type="button" class="js-accordion__trigger js-accordion__active" aria-expanded="true" aria-controls="accordion-1">accordion01</button>
                                        <div class="js-accordion__content js-accordion__active" id="accordion-1" aria-hidden="false">
                                            <div class="js-accordion__inner">
                                                Accordion01 content<br>
                                                ....
                                            </div>
                                        </div>
                                        <button type="button" class="js-accordion__trigger" aria-expanded="true" aria-controls="accordion-2">accordion02</button>
                                        <div class="js-accordion__content" id="accordion-2" aria-hidden="true">
                                            <div class="js-accordion__inner">
                                                Accordion02 content<br>
                                                ....
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="js-accordion__wrapper">
                                    <div>
                                        <button type="button" class="js-accordion__trigger js-accordion__active" aria-expanded="true" aria-controls="accordion-3">accordion03</button>
                                        <div class="js-accordion__content js-accordion__active" id="accordion-3" aria-hidden="false">
                                            <div class="js-accordion__inner">
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi explicabo repellendus aliquid omnis quisquam ut voluptas pariatur doloremque exercitationem delectus nulla ipsam non in impedit, neque tempore dolore tempora distinctio.
                                            </div>
                                        </div>
                                        <button type="button" class="js-accordion__trigger" aria-expanded="true" aria-controls="accordion-4">accordion04</button>
                                        <div class="js-accordion__content" id="accordion-4" aria-hidden="true">
                                            <div class="js-accordion__inner">
                                                Accordion04 content<br>
                                                ....
                                            </div>
                                        </div>
                                        <button type="button" class="js-accordion__trigger" aria-expanded="true" aria-controls="accordion-5">accordion05</button>
                                        <div class="js-accordion__content" id="accordion-5" aria-hidden="true">
                                            <div class="js-accordion__inner">
                                                Accordion05 content<br>
                                                ....
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </main><!-- / #aa -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>